name: Build and Publish

on:
  workflow_call:

jobs:
  docker:
    name: Build and Publish Docker
    uses: deepetherlabs/actions/.github/workflows/publish-docker.yml@main
    secrets: inherit
  publish:
    name: Build and Publish Helm Chart
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Get Version Number
      id: get_version
      uses: deepetherlabs/actions/version@main
    - name: Get Release Name
      id: get_release_name
      run: |
        HELM_REPOSITORY=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        echo "Helm Repository is $HELM_REPOSITORY"
        echo "Helm Repository is $HELM_REPOSITORY" >> $GITHUB_STEP_SUMMARY
        echo helm_repository=$HELM_REPOSITORY >> $GITHUB_OUTPUT
        HELM_RELEASE_NAME=$(yq -oy '.name' Chart.yaml || echo ${{ github.event.repository.name }})
        echo "Helm Release Name is $HELM_RELEASE_NAME"
        echo "Helm Release Name is $HELM_RELEASE_NAME" >> $GITHUB_STEP_SUMMARY
        echo helm_release_name=$HELM_RELEASE_NAME >> $GITHUB_OUTPUT
      shell: bash
    - name: Helm Package and Publish
      uses: appany/helm-oci-chart-releaser@v0.4.2
      with:
        name: ${{ steps.get_release_name.outputs.helm_release_name }}
        repository: ${{ steps.get_release_name.outputs.helm_repository }}/helm
        tag: ${{ steps.get_version.outputs.version }}
        path: .
        registry: ghcr.io
        registry_username: ${{ github.actor }}
        registry_password: ${{ github.token }}
        update_dependencies: 'true'
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}
    needs: [docker]
